{% extends 'layout.html' %}

{% block content %}


    <div id="app" class="main-content">
        <h2>BitFerno Bitcoin Wallet</h2>

        <a class="btn" @click="generate" href="#">Generate New Bitcoin Address</a>

        <div class="results">

            <div v-if="address">
                <label>Address</label>
                <div class="output address">
                    ${ address }

                </div>
            </div>

            <div v-if="segwit_address">
                <label>Segwit Address</label>

                <div v-if="segwit_address" class="output segwit-address">
                    ${segwit_address}

                </div>
            </div>


            <div class="export" v-if="download">
                <a class="btn download" v-bind:href="download">Backup Wallet </a>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}

    <script>

        var app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                address: '',
                segwit_address: '',
                download: '',

                notify: ''

            },
            mounted: function (e) {
            }
            ,
            methods: {

                generate: function (e) {
                    this.$http.post('/api/generate/').then(function (result) {
                            this.address = result.body.address;
                            this.segwit_address = result.body.segwit_address;
                            this.download = '/download/?' + this.address;


                        },
                        function (err) {
                            alert('error generating address')
                        }
                    )
                }


            }

        });
    </script>

{% endblock %}